<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
  <br>
  Contacts of the site debeloper you can find <a href="https://github.com/andreybakanovsky"> on the github.com page.</a> <br>
</p>
